*{
    margin: 0;
    padding: 0;
    font-family: Impact;
}

header{
    background-image: url(images/rest2.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-top: 25px;
}

ul li.active a{
    background-color: peru;
}

ul li a{
    text-decoration: none;
    color: aqua;
    padding: 5px 20px;
    border: 9px solid transparent;
    transition: 0.6s, ease;
    background-color: black;
}

ul li a:hover{
    background-color: whitesmoke;
}

.logo img{
    float: left;
    height: 50px;
    margin-top: 10px;
    width: auto;
}

.main{
    max-width: 1600px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(45%, -250%);
}

.title h1{
    color: aqua;
    background-color: black;
    font-size: 70px;
    padding: 5px 20px;   
}

.button{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(105%, 790%);
}

.btn{
    text-decoration: none;
    font-size: 25px;
    color: aqua;
    padding: 20px 40px;
    border: 9px solid transparent;
    transition: 0.6s, ease;
    background-color: peru;
}

.btn:hover{
    background-color: whitesmoke;
}
.desc{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-25%, -50%);
    font-size: 45px;
    color: aqua;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px 20px;
    transition: 0.6s, ease;
}

br{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nobr{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

B{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}